@charset "UTF-8";

.pagingContainer {
	text-align: center;
	padding: 20px;
	font-size: 20px;
}

a {
	text-decoration: none;
	margin: 10px;
	color: inherit;
}

.pagingContainer .selectedPage {
	color: teal;
		
}

.selectedPage {
	color: tomato !important;
	font-weight: bold;
}
	