@charset "UTF-8";

/* reset */
html,
body,
.container {
	width: 100vw;
	height: 1000vh;
	padding: 0;
	margin: 0;
}
.container {
	display: flex;
	flex-direction: row;
}
aside {
	background-color: white;
	width: 30%;
	/* border-right: solid 2px #69491a; */
}
main {
	background-color: #ffd954;
	flex-grow: 1;
	width: 100%;
}
a {
	text-decoration: none;
	color: #69491a;
	font-size: xx-large;
}
.nav_bar {
	position: fixed;
}
.nav_bar ul {
	list-style: none;
	padding: 0;
	margin: 40px 0px 0px 40px;
}
.main_title {
	margin: 0;
	text-align: center;
	color: white;
	padding: 30px;
	writing-mode: vertical-lr;
}
.main_title h1 {
	margin: 0;
	font-size: 70px;
}
.main_title span {
	display: flex;
	justify-content: flex-end;
	font-size: 20px;
}
