@charset "UTF-8";

.basic-basic-table {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	margin: 20px 10px;
}

.basic-table th,
.basic-table td {
	vertical-align: middle;
	border: 1px solid #ccc;
	padding: 10px;
}

.basic-table tr.record {
	cursor: pointer;
}
